@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');
.signUp_main{
    background-color: white;
    display: flex;
    flex-flow:column nowrap;
    align-content: center;

}

.signup_form{

    height:50vh;
    width:50vh;
    margin-left:auto;   
    margin-right: auto;
    padding-top: 150px ;
    
}

.signup_input{

    height: 35px;
    border-radius: 5px;

}

.signup_input:hover{
    box-shadow: 2px 2px 5px black;
}

.company_title{
    font-size:55px;
    color:blue;
    text-decoration:  none;
    font-family:'Cabin', sans-serif ;

}

.company_title:hover{
    cursor: pointer;
    text-shadow : 2px 2px black;
    font-size:70px;
    transition: font-size 2s;
    text-decoration:  none;
    
}

.signup_label{
    font-family: 'Cabin', sans-serif;;
}

.option:hover{
    cursor: pointer;
}


