.all_member{
    display: flex;
    flex-direction: row;
    /* background-color:blue ; */
    height: 50vh;        
}

.member{
    display: flex;
    flex-direction: column;
    flex:1;
    /* background-color: green; */
    justify-content: center;
    align-items: center;
    /* padding-top:10px; */
    /* border:1px solid black */
}

.profile_photo{
    padding-top:5px;
}

.photo{
    height: 15vh;
    width:15vh;
    border-radius: 50%;
    
    transition : box-shadow 3s;
}

.photo:hover{
    box-shadow:   5px 5px 2px #282C35;
    transition: box-shadow 1s;
    height: 18vh;
    width:18vh;
}


.profile_name{
    padding-top:10px;
    
}

.name{
    font-size: 25px;
    letter-spacing: 3px;
}

.profile_info{
    padding:15px;
    /* align-content: center; */
    text-align: center;
}

.info{
  
   font-size:1.5rem;
   letter-spacing: 1px;

}