.all_member{
    display: flex;
    flex-direction: row;
    /* background-color:blue ; */
    height: 50vh;        
}

.member{
    display: flex;
    flex-direction: column;
    flex:1;
    /* background-color: green; */
    justify-content: center;
    align-items: center;
    padding:25px;
    /* border:1px solid black */
}

.profile_photo{
    
    height: 15vh;
    width:15vh;
    border-radius: 50%;
}

.profile_photo:hover{
    box-shadow:   5px 5px 2px blue;
    transition: box-shadow 1s;
    height: 18vh;
    width:18vh;
}
.name{
    font-size: 25px;
    padding-bottom:70px;
    
}

.info{
    text-align: center;
   padding:10px;
   font-size:1.5rem;
   letter-spacing: 2px;
   text-align: justify;
}